body{
    background-color: #112033;
}

#age-modal{
    height: 100vh;
    background-color: #112033;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    color:#F9F9F9;
    text-align: center;
}

.age-modal-img{
    height: 30vh;
}

.age-buttons{
    padding: 50px 0px;
}

.age-buttons > button{
background: #112033;
border:2px solid #F9F9F9;
font-size: 1rem;
color:#F9F9F9;
font-family: 'Varela Round', sans-serif;
}

.age-buttons > button:hover{
    background: #64777F;
}

.age-modal-img > img{
    height: 100%;
}

.fade{
    opacity: 0%;
}

#main-wrapper{
    background-color: #64777F;
    height: 100vh;
}

.header{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto;
    height: 25%;
}

.logo > img{
    max-height: 100px;
}

.logo-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-logo > img{
width: 100%;
align-self: center;
}

#menu-button > img{
    max-height: 50px;
    padding-right: 15px;
}

#text-logo{
    height: 30%;
    padding-top:20px;
    padding-right: 15px;
  
}

#main-logo{
    justify-self: center;
    align-self: center;
}

nav{
    width: 100%;
    background-color: #112033;
    height: 75%;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
    justify-content: space-around;

}

nav a {
    text-decoration: none;
    color:#F9F9F9;
}

.nav-hide{
    display:none;
}

.nav-show{
    display:flex;
}

.nav-pulse-1{
    animation: pulse 2s 1; 
}

.nav-pulse-2{
    animation: pulse2 2s 1; 
}


@keyframes pulse2 {
    0% {
      background-color: #112033;
    }
    100% {
      background-color: #64777F
    }
  }


  @keyframes pulse {
    0% {
      background-color: #64777F;
    }
    100% {
      background-color: #112033;
    }
  }


@media screen and (min-width: 400px) {
    nav{
        display: none;
    }

    #menu-button{
        display: none;
    }
  }






