/* mobile nav styles */
html {
  scroll-behavior: smooth;
}
body{
  background-color: #f1f1f1;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #112033;
    background-color:rgba(15, 31, 50, .95);
    overflow-x: hidden;
    transition: 0.5s;
     font-family: 'Assistant', sans-serif;

  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }


  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    border-bottom:.5px solid #f1f1f1;
  }

  .overlay a:last-child{
    border:none;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .desktop-nav{
    display: none;
}
/* end mobile nav styles */
 .container{
   width: 100%;
 
font-family: 'Questrial', sans-serif;

  }

  .header{
      background-color: #112033;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      align-items: center;
  }

  .logo{
    display: flex;
    justify-content: center;
  }

  .logo  a > img{
    max-height: 100px;
    padding: 10px;
  }

  .nav{
    display: flex;
    justify-content: center;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #1a6cb6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(221, 221, 221)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
  margin-left: -30px;
}


@keyframes popout {
  from{transform:scale(0)}
  80%{transform:scale(1.2)}
  to{transform:scale(1)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0)}
  80%{-webkit-transform:scale(1.2)}
  to{-webkit-transform:scale(1)}
}
  .products{
      z-index: 1;
      position: relative;
      font-size: 1rem;
      background-color: #f8e2ca;
  
  }

  .products-img > img{
      width:100%;  
  }

  .strain-card{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 60%;

}

.strain-card h1{
  color:#f1f1f1;
}

.products-card >a{
  color: #000;
}

.products-card > button{
  background: transparent;
  color: #fff;
  border-radius: 5px;
}

.strain-card > a{
  background: #112033;
  color: #fff;
  padding: 10px;
}

.strain-card > h1{
 margin:20px;
}

.products-card > button:hover{
  border: 2px solid black;
}

.products-card{
  z-index: 1;
  position: absolute;
  top: 5%;
  left:5%;
 
}

#products-button{
  top:0%;
}

.products-link {
  background-color: #112033;
  position: absolute;
  top: 75%;
  padding:10px;
  color:#f1f1f1;
}

#products2{
  background-color: #cbd3de;
}

.retail > a > img{
    max-width: 100px;
}

.retailers-header{
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retailers-header h1{
  padding: 10px;
}

.retailers-header h5{
  padding: 10px;
}

.retailers-header a{
  background-color: #112033;
  color:#f1f1f1;
  padding: 10px;
}

.retailers-header > img{
  max-width: 40px;
}

.retail-logo-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #fff;
}

.about{
  background-color:#112033;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.about p{
  color:#fff;
}

.about-link > a{
  color: #112033;
  
}

.about-link{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:25px;
  color: #112033;
}

.about-text{
  padding: 20px;
  line-height: 1.5rem;
  width: 60%;
}

.about-text h1{
  color:#f1f1f1;
  text-align: center;
  text-decoration: underline;
}

.social > a > img{
  max-width: 75px;
}

.social{
  display: flex;
  align-items: center;
}

 .leafly{
  background-color: #f1f1f1;
}

footer{
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


footer > p{
  font-size: .7rem;
  padding: 10px;
}




body{
  background-color: #112033;
}

#age-modal{
  height: 100vh;
  background-color: #112033;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  color:#F9F9F9;
  text-align: center;
}

.age-modal-img{
  height: 30vh;
}

.age-buttons{
  padding: 50px 0px;
}

.age-buttons > button{
background: #112033;
border:2px solid #F9F9F9;
font-size: 1rem;
color:#F9F9F9;
font-family: 'Varela Round', sans-serif;
}

.age-buttons > button:hover{
  background: #64777F;
}

.age-modal-img > img{
  height: 100%;
}

#age-modal{
  height: 100vh;
  background-color: #112033;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  color:#F9F9F9;
  text-align: center;
}

.age-modal-img{
  height: 30vh;
}

.age-buttons{
  padding: 50px 0px;
}

.age-buttons > button{
background: #112033;
border:2px solid #F9F9F9;
font-size: 1rem;
color:#F9F9F9;
font-family: 'Varela Round', sans-serif;
}

.age-buttons > button:hover{
  background: #64777F;
}

.age-modal-img > img{
  height: 100%;
}



@keyframes pulse2 {
  0% {
    background-color: #112033;
  }
  100% {
    background-color: #64777F
  }
}


@keyframes pulse {
  0% {
    background-color: #64777F;
  }
  100% {
    background-color: #112033;
  }
}
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

/* MAIN DESKTOP STYLES */
  @media screen and (min-width: 700px) {
    .menuButton{
        display: none;
    }

    .desktop-nav{
      display:flex;
    }

    .logo img{
      min-height: 150px;
    }

    .desktop-nav li{
      padding:20px;
      text-align: center;   
    }

    .desktop-nav li:hover{
      background-color:rgba(255, 255, 255, .4) ; 
    }


    .desktop-nav li a{ 
      color:#f1f1f1;    
    }

    .strain-card{
      top: 80%;
      left: 70%;
  }

  .strain-card h1{
    font-size: 2rem;
  }

  .strain-card a{
    font-size: 1.8rem;
    margin-left: 25px;
  }

  #products2 h3{
    font-size: 2rem;
  }

  .retail-logo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #fff;
  }

  .about{
    min-height: 450px;
    background-size:contain;
    background-repeat: no-repeat;
  }

  .about-text{
    width: 90%;
    text-align: center;
  }

  .about-text p{
    line-height: 3rem;
    font-size: 1.8rem;
    padding-top: 25px;
  }

  .about-text h1{
    font-size: 2.2rem;
  }



  .social-arrow > p{
    color: lightgreen;
    font-size: 1rem;
    padding-top: 5px;
    line-height: 1.5rem;
  }

  .about-link{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px;
    background-color: lightgreen;
    width: 100%;
  }

  .leafly{
    background:none;
  }

  .about-link a{
    font-size: 1.6rem;
  }

  .social{
    justify-content: center;
    padding: 10px;
  }


    }

    